
@{
	Layout = "~/Views/Shared/_LayoutBootStrapFixedHeader.cshtml";
	ViewBag.Title = "用户登录";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/base64.js"></script>

<div class="container">
    <form class="form-horizontal" style="width: 450px; margin: 0px auto;">

        <div class="form-group">
            <span style="font-size: 135%;">
                用户登录
            </span>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Account</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="account" placeholder="Account">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="loginAccount" type="button" class="btn btn-primary" onclick="LoginAccount()">Sign in</button>
                <a href="Register" role="button" class="btn btn-default" style="margin-left: 20px;">Sign up</a>
            </div>
        </div>
    </form>
</div>

<script>
	function LoginAccount() {
		var acc = $("#account").val();
		var pass = $("#password").val();

		var obj = {
			Account: acc,
			Password: pass
		};

		$.post("Login", obj, function (data) {
			if (data.result) {
				location.href = "/";
				return;
			}

			alert(data.msg);
		}, "json");
	}
</script>