
@{
	ViewBag.Title = "Index";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<style>
	a {
		color: #000;
	}

	.mainContainer {
		font-size: 120%;
	}

	.items {
		margin: 20px auto;
		color: #000;
	}

	.title {
		margin: 20px auto;
		margin-top: 50px;
		font-size: 1.3em;
	}

	.blocks {
		margin: 20px auto;
	}

	.blocks .title {
		font-weight: 300;
		font-size: 48px;
	}

	.blocks .items {
		background-color: #f2f2f2;

		transition: .3s;
	}

	.blocks .items .itemContainer {
		padding: 20px 40px;
	}

	.news .newsDetails {
		margin: 10px 5px;
	}

	.news .newsTitle {
		height: 100%;
	}

	.news .newsTitle-ContentTitle {
		width: 100%;
		padding: 20px 0px;
		font-size: 1.1em;
		border-bottom: 1px solid #999;
	}

	.news .newsInfo {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		height: 100%;
	}

	.news .newsDetails .newsTitle {
		color: #000;
		font-size: 90%;
		margin-left: 20px;
	}

	.news .newsLink {
		padding: 25px;
		display: block;
		background: center no-repeat;
		background-image: url(../../Content/img/arrow_next.png);
		background-position: 97%;
	}

	.block-icon {
		font-size: 130%;
		margin: 0px 20px;
		width: 40px;
	}

	.items:hover {
		background-color: #f6f6f6;
		box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
	}
</style>


<div class="mainContainer">
	<div class="title">Violin.Store 后台管理主页</div>
	<div class="blocks news">
		<div class="items">
			<a class="newsLink" href="/News">
				<div class="newsInfo"><i class="fa fa-newspaper-o block-icon" aria-hidden="true"></i>新闻管理模块</div>
			</a>
		</div>
		<div class="items">
			<a class="newsLink" href="/Schedules">
				<div class="newsInfo"><i class="fa fa-calendar block-icon" aria-hidden="true"></i>日程管理模块</div>
			</a>
		</div>
		<div class="items">
			<a class="newsLink" href="/Discographies">
				<div class="newsInfo"><i class="fa fa-window-maximize block-icon" aria-hidden="true"></i>专辑管理模块</div>
			</a>
		</div>
		<div class="items">
			<a class="newsLink" href="/IncludedTracks">
				<div class="newsInfo"><i class="fa fa-music block-icon" aria-hidden="true"></i>收录曲管理模块</div>
			</a>
		</div>
		<div class="items">
			<a class="newsLink" href="/Giveaways">
				<div class="newsInfo"><i class="fa fa-gift block-icon" aria-hidden="true"></i>礼品管理模块</div>
			</a>
		</div>
		<div class="items">
			<a class="newsLink" href="/Goods">
				<div class="newsInfo"><i class="fa fa-shopping-bag block-icon" aria-hidden="true"></i>商品管理模块</div>
			</a>
		</div>
		<div class="items">
			<a class="newsLink" href="/Orders">
				<div class="newsInfo"><i class="fa fa-list-alt block-icon" aria-hidden="true"></i>订单管理模块</div>
			</a>
		</div>
		<div class="items">
			<a class="newsLink" href="/Accounts">
				<div class="newsInfo"><i class="fa fa-users block-icon" aria-hidden="true"></i>用户管理模块</div>
			</a>
		</div>
	</div>
</div>